.label {
}

.label > * + * {
  margin-top: 10px;
}

.label span {
  display: block;
}

.input {
  border: 1px solid var(--card-bg);
  background: var(--card-bg);
  color: var(--text-color);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  width: 100%;

  &::placeholder {
    color: #ededed;
  }
}
