.button {
  border-radius: 8px;
  &.primary {
    --bg: var(--primary-button);
    --bg-hover: var(--primary-button-hover);
    --bg-active: var(--primary-button-active);
    --color: var(--text-color);
    --border: 1px solid transparent;
    --shadow: none;
  }

  &.secondary {
    --bg: transparent;
    --bg-hover: transparent;
    --bg-active: transparent;
    --color: var(--text-color);
    --border: 1px solid var(--text-color);
    --shadow: 0px 0px 0px 1px var(--text-color);
  }

  background: var(--bg);
  color: var(--color);
  border: var(--border);
  position: relative;

  &:hover {
    background-color: var(--bg-hover);
    box-shadow: var(--shadow);
  }

  &:active {
    background-color: var(--bg-active);
  }

  &.loading {
    pointer-events: none;
    opacity: 0.5;
  }

  &.small {
    border-radius: 8px;
    padding: 8px 12px;
  }
  &.medium {
    border-radius: 8px;
    padding: 8px 14px;
  }
  &.large {
    border-radius: 12px;
    padding: 12px 22px;
  }
  &.xlarge {
    border-radius: 14px;
    padding: 16px 24px;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  &.loading {
    opacity: 0;
  }
}

.loadingIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
