.wrapper {
  display: flex;
  padding: 16px 12px;
  padding-top: 8px;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--card-bg);
  border-radius: 8px;
  flex-direction: column;
  gap: 1rem;

  &.disabled {
    opacity: 0.5;
  }
}

.draggable {
  cursor: grab !important;
}

.powers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.power {
  background-color: var(--primary-button);
  color: white;
  gap: 2px;
  font-size: 16px;
  border-radius: 8px;
  padding: 4px 8px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
