.wrapper {
  min-height: 100vh;
}

.notReady {
  margin-top: 1.2rem;
}

.courtWrapper {
  user-select: none;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
  /*   display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  gap: 64px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.players {
  //max-height: 80vh;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - 380px);
}
.cards {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 5rem;
}

.court {
  margin-left: auto;
  position: relative;
  width: 380px;
  height: 560px;

  justify-content: center;
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
}
.courtImg {
  border-radius: 12px;
  width: 355px;
  height: 560px;
}

.imageWrapper {
  width: max-content;
  position: relative;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.player1 {
  position: absolute;
  left: 24px;
  top: 60px;
}
.player2 {
  position: absolute;
  right: 24px;
  top: 60px;
}
.player3 {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
}
.player4 {
  position: absolute;
  left: 24px;
  bottom: 60px;
}
.player5 {
  position: absolute;
  right: 24px;
  bottom: 60px;
}

.save {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.meta {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  & button {
    width: 100%;
  }
}

.modal {
  width: 512px;
}

.modalInner {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-top: 16px;
  width: 100%;
  gap: 12px;
}

.title {
  align-self: flex-start;
}

.slider {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.adding {
  opacity: 0.5;
}
