.wrapper {
  min-height: 100vh;
}

.header {
  display: flex;
  width: 100%;
  padding: 24px 24px;
  justify-content: space-between;
}

.balance {
  justify-self: flex-end;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.courtWrapper {
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 2rem;
  /*   display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  gap: 64px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.players {
}

.court {
  margin-left: auto;
  position: relative;
  width: 380px;

  justify-content: center;
  display: flex;
  justify-self: flex-end;

  & .player {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: rgb(218, 216, 216);
  }

  & .player1 {
    position: absolute;
    left: 24px;
    top: 60px;
  }
  & .player2 {
    position: absolute;
    right: 24px;
    top: 60px;
  }
  & .player3 {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translateX(-50%);
  }
  & .player4 {
    position: absolute;
    left: 24px;
    bottom: 60px;
  }
  & .player5 {
    position: absolute;
    right: 24px;
    bottom: 60px;
  }
}
.courtImg {
  border-radius: 12px;
  width: 100%;
}

.imageWrapper {
  width: max-content;
  position: relative;
}
