.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-direction: column;
}

.powers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.power {
  gap: 2px;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: 0.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 214, 216, 0.548);
  color: var(--primary-button);
  font-size: 14px !important;

  &.att {
    color: var(--color-success);
  }
}
