.container {
  display: flex;
  flex-direction: column;
  grid-template-rows: 300px auto;
  min-height: 100vh;
  width: 100vw;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.itemWrapper {
  display: flex;
  gap: 24px;
}

.gameplay-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  padding: 20px;

  > * {
    max-width: 600px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }
}

.grid-item {
  min-width: 420px;
  min-height: 420px;

  max-width: 420px;
  max-height: 420px;

  & > :first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    padding: 20px;
    transition: 0.2s all ease;
    border-radius: 8px;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 5px black;

    &:hover {
      transform: translateY(-20px) scale(1.3);
    }
  }

  img {
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
