.team {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding-top: 4rem;
  min-height: 100vh;
  align-items: center;
}

.items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.members {
  display: grid;
  gap: 128px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.item {
  place-self: center;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }

  & span,
  a {
    color: var(--text-color);
  }

  & a:hover {
    color: var(--primary-button);
  }
}
