.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto;
  background-image: linear-gradient(
      var(--bg-gradient-from),
      var(--bg-gradient-to)
    ),
    url("../assets/images/landing/bg.png");
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
}

.header {
  color: var(--text-color);
  font-size: 72px;
  font-style: italic;
}

.subheader {
  margin-top: 16px;
  color: var(--text-color);
  text-align: center;
  width: 80%;
  align-items: center;
  font-style: italic;
}
