.header {
  color: var(--text-color);
  font-size: 48px;
  font-style: italic;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.subheader {
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  font-style: italic;
  opacity: 0.8;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}
