

.navbar {
    padding: 0 20px;
    color: var(--text-color);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
    }

    .navigationBar {
        display: flex;
        gap: 15px;
        align-items: center;
    }
}
