.navbar {
  padding: 12px 20px;
  color: var(--text-color);
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: 0.15s linear;
  z-index: 1;

  &.scrolled {
    transition: 0.15s linear;
    background-color: rgba(33, 13, 66, 0.75);
    .iconContainer {
      background-color: #fff;
      color: black;
      svg {
        color: black;
        transition: 0.15s linear;
      }
    }
  }

  img {
    width: 100px;
  }

  .navigationBar {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .iconContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    background-color: rgba($color: #fff, $alpha: 0.15);
    padding: 8px 12px 8px 6px;
    border-radius: 8px;
    transition: 0.15s all ease-in-out;
    svg {
      transition: 0.15s all ease-in-out;
      color: white;
    }
  }
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}
