:root {
  --shadow-main: 0px 8px 20px rgba(0, 0, 0, 0.12),
    0px 4px 12px rgba(0, 0, 0, 0.08);

  --primary-button: rgba(99, 11, 241);
  --primary-button-hover: rgb(90, 15, 209);
  --primary-button-active: rgb(80, 11, 192);
}
