body.dark {
  --text-color: rgb(248, 247, 247);
  --bg: rgb(19, 9, 36);
  --bg-gradient-to: rgba(17, 8, 29, 0.9);
  --bg-gradient-from: rgba(23, 10, 41, 0.9);
  --card-bg: rgba(33, 22, 48, 0.9);
  --filter-border: rgba(62, 41, 92, 0.9);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-active: #fa7272;

  background-image: radial-gradient(at top center, #1d1533 0%, #141414 70%);
}
