body.dark {
  --text-color: white;
  --bg: rgb(19, 9, 36);
  --bg-gradient-to: rgba(17, 8, 29, 0.9);
  --bg-gradient-from: rgba(23, 10, 41, 0.9);

  background-image: radial-gradient(at top center, #1d1533 0%, #141414 70%);
}
