body.light {
  --text-color: rgb(19, 19, 19);
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-active: #fa7272;

  --bg: rgb(242, 240, 240);
  --card-bg: rgba(235, 230, 230, 0.9);
  --filter-border: rgba(62, 41, 92, 0.9);
}
