.container {
  min-height: 100vh;
}

.loader {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  flex-direction: column;
  padding: 2rem 2rem;
}

.stats {
  padding: 12px;
  border: 1px solid var(--filter-border);
  border-radius: 8px;
  height: calc(100vh - 160px);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customize {
  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;
  & button {
    width: 100%;
  }
}
