.container {
  min-height: 100vh;
}

.loader {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 2rem 2rem;
  gap: 24px;
}

.stats {
  padding: 12px;
  border: 1px solid var(--filter-border);
  border-radius: 8px;
  height: calc(100vh - 160px);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.customize {
  margin-top: auto;
  justify-self: flex-end;
  align-self: flex-end;
  width: 100%;

  & button {
    width: 100%;
  }
}

.opponents {
  padding: 12px;
  border-radius: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid var(--filter-border);
}

.enemies {
  align-items: center;
  display: flex;
  max-width: calc(100vw - 400px);
  flex-direction: column;
}

.item {
  background-color: rgb(56, 155, 56);
  display: flex;
  height: 100px;
  min-width: 100px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  &:hover {
    background-color: rgb(53, 141, 53);
  }
  margin: auto;
  justify-content: center;
  align-items: center;
  &.selected {
    border: 4px solid var(--primary-button);
  }
}

.carouselWrapper {
  width: 800px;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  max-width: 600px;

  display: flex;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  width: fit-content;
  grid-area: 1rem;
  gap: 24px;
}

.icon {
  user-select: none;
  margin-left: 1rem;
  margin-right: 1rem;
  color: var(--text-color);
  padding: 6px;
  &:hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 6px;
    background-color: var(--primary-button);
    color: white;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match {
  margin-top: 2rem;
}

.button {
  margin-top: 1rem;
  width: 100%;
}
