

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 30px;
}

.create-team--container {
    display: flex;

    .team-container {
    }
    .coach-container {}

    h2 {
        font-size: 24px;
    }
}