.container {
  background-image: linear-gradient(
    var(--bg-gradient-from),
    var(--bg-gradient-to)
  );
  min-height: 100vh;
}

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 4fr 1.2fr;
}

.filter {
  padding: 12px;
  border: 1px solid var(--filter-border);
  border-radius: 8px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
