.container {
  min-height: 100vh;
}

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: 4fr 1.2fr;
}

.filter {
  padding: 12px;
  border: 1px solid var(--filter-border);
  border-radius: 8px;
  height: calc(100vh - 100px);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.filters {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.types {
  width: 100%;
  gap: 12px;
  display: flex;

  & button {
    width: 100%;
  }
}

.market {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 12px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.button {
  width: 100%;
}

.spinner {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 3rem;
}
