.header {
  display: flex;
  width: 100%;
  padding: 24px 24px;
  justify-content: space-between;
  position: relative;
}

.balance {
  justify-self: flex-end;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.right {
  display: flex;
  gap: 8px;
}
