.header {
  display: flex;
  width: 100%;
  padding: 24px 24px;
  justify-content: space-between;
  position: relative;
}

.balance {
  justify-self: flex-end;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.right {
  display: flex;
  gap: 8px;
}

.links {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    border-bottom: 2px solid transparent;
    color: var(--text-color);
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 0.2rem;
    font-weight: 500;
    transition: border linear 0.2s;
    &:hover {
      border-bottom: 2px solid var(--text-color);
    }
  }

  .svg {
    cursor: pointer;
    transition: 0.1s all ease;
    padding: 6px;
    border-radius: 4px;
    svg {
      width: 28px;
      height: 28px;
      display: block;
      margin-top: -3px;
    }
  }
}

.active {
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--text-color) !important;
  transition: border linear 0.2s;
  border-radius: 2px;
}
