.container {
  min-height: 100vh;
  justify-content: center;
  height: fill-available;
  height: 100%;
}

.tournaments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 80%;
  margin: auto;
  grid-gap: 30px;
}

.loading-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.attended-tournament--container {
    width: 80vw;
    margin: 50px auto;
}

.teams-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;

  .opponent-container, .my-team--container {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    text-align: center;
    height: 100px;
    display: grid;
    place-content: center;
    color: black;
  }

  .team-stats--container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;
    margin-left: auto;

    progress::-webkit-progress-bar {
      border: 0;
      border-radius: 20px;
    }

    progress::-webkit-progress-value {
      border: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    progress::-moz-progress-bar {
        border: 0;
        border-radius: 20px;
    }
    .team-info {
      display: flex;
      gap: 5px;
      flex-direction: column;
    }
  }
}

.tournament-matches {
  position: relative;
  height: 300px;
  .team {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    position: absolute;

    &:nth-child(1) {
      top: 20px;
      left: 20px;
    }
    &:nth-child(2) {
      top: 80px;
      left: 20px;
    }
    &:nth-child(3) {
      top: 160px;
      left: 20px;
    }
    &:nth-child(4) {
      top: 220px;
      left: 20px;
    }
    &:nth-child(5) {
      top: 50px;
      left: 130px;
    }
    &:nth-child(6) {
      top: 190px;
      left: 130px;
    }
    &:nth-child(7) {
      top: 120px;
      left: 240px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}