.container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40px;
    align-items: center;
    border: 2px solid rgb(204, 199, 199);
    padding: 30px 20px;
    gap: 20px;

    .information {
        position: absolute;
        bottom: -20px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }

}

.modal-p {
    max-width: 320px;
    line-height: 1.7;
    padding: 35px 25px;
    margin: 0;
    a {
        color: white;
        text-decoration-line: underline;
    }
}

