.numbers {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: linear-gradient(
      rgba(21, 20, 20, 0.8),
      rgba(34, 33, 33, 0.8)
    ),
    url(../../assets/images/landing/bg-twi.jpeg);
}

.items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
